Assignment3/WebContent/wsdl/Request.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://request.mcds5510.com"
	xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:impl="http://request.mcds5510.com"
	xmlns:intf="http://request.mcds5510.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types>
		<schema elementFormDefault="qualified"
			targetNamespace="http://request.mcds5510.com"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="update">
				<complexType>
					<sequence>
						<element name="id" type="xsd:string" />
						<element name="nameOnCard" type="xsd:string" />
						<element name="cardNumber" type="xsd:string" />
						<element name="unitPrice" type="xsd:string" />
						<element name="quantity" type="xsd:string" />
						<element name="expDate" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="updateResponse">
				<complexType>
					<sequence>
						<element name="updateReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="delete">
				<complexType>
					<sequence>
						<element name="id" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="deleteResponse">
				<complexType>
					<sequence>
						<element name="deleteReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="create">
				<complexType>
					<sequence>
						<element name="id" type="xsd:string" />
						<element name="nameOnCard" type="xsd:string" />
						<element name="cardNumber" type="xsd:string" />
						<element name="unitPrice" type="xsd:string" />
						<element name="quantity" type="xsd:string" />
						<element name="expDate" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="createResponse">
				<complexType>
					<sequence>
						<element name="createReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="view">
				<complexType>
					<sequence>
						<element name="id" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="viewResponse">
				<complexType>
					<sequence>
						<element name="viewReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="viewResponse">

		<wsdl:part element="impl:viewResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="updateResponse">

		<wsdl:part element="impl:updateResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="deleteRequest">

		<wsdl:part element="impl:delete" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="createResponse">

		<wsdl:part element="impl:createResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="deleteResponse">

		<wsdl:part element="impl:deleteResponse" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="createRequest">

		<wsdl:part element="impl:create" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="viewRequest">

		<wsdl:part element="impl:view" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:message name="updateRequest">

		<wsdl:part element="impl:update" name="parameters">

		</wsdl:part>

	</wsdl:message>

	<wsdl:portType name="Request">

		<wsdl:operation name="update">

			<wsdl:input message="impl:updateRequest"
				name="updateRequest">

			</wsdl:input>

			<wsdl:output message="impl:updateResponse"
				name="updateResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="delete">

			<wsdl:input message="impl:deleteRequest"
				name="deleteRequest">

			</wsdl:input>

			<wsdl:output message="impl:deleteResponse"
				name="deleteResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="create">

			<wsdl:input message="impl:createRequest"
				name="createRequest">

			</wsdl:input>

			<wsdl:output message="impl:createResponse"
				name="createResponse">

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="view">

			<wsdl:input message="impl:viewRequest" name="viewRequest">

			</wsdl:input>

			<wsdl:output message="impl:viewResponse"
				name="viewResponse">

			</wsdl:output>

		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="RequestSoapBinding"
		type="impl:Request">

		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="update">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="updateRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="updateResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="delete">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="deleteRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="deleteResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="create">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="createRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="createResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

		<wsdl:operation name="view">

			<wsdlsoap:operation soapAction="" />

			<wsdl:input name="viewRequest">

				<wsdlsoap:body use="literal" />

			</wsdl:input>

			<wsdl:output name="viewResponse">

				<wsdlsoap:body use="literal" />

			</wsdl:output>

		</wsdl:operation>

	</wsdl:binding>

	<wsdl:service name="RequestService">

		<wsdl:port binding="impl:RequestSoapBinding" name="Request">

			<wsdlsoap:address
				location="http://localhost:8080/Assignment3_A00429943/services/Request" />

		</wsdl:port>

	</wsdl:service>

</wsdl:definitions>
